.header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
}
.menu-personalizado {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
}

.menu-personalizado .logo {
    height: 50px;
}

.menu-lista {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-lista li {
    margin-left: 20px;
}

.menu-lista a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-lista a:hover {
    text-decoration: underline;
}
.banner-principal {
    background-color: #000000;
    padding: 200px 0;
    text-align: left;
    color: white;
}

.banner-principal .container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.banner-text, .imagen-banner {
    flex: 1;
    max-width: 50%;
}

.imagen-banner img {
    max-width: 70%;
    height: auto;
}

.container {
   
    max-width: 1200px;;
    margin: 0 auto;
    padding: 0 20px;
}

.banner-text h1 {
    font-size: 55px;
    margin-bottom: 10px;
}